/* 基本样式 */
body, button {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .footer {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}
.content {
    margin: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
button {
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}
.error {
    color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: none; /* 默认不显示，通过JavaScript控制显示 */
}
